---
# please keep properties in the alphabetical order

stargate:

  data-store:
    ignore-bridge: true

  database:
    limits:
      max-collections: 5

  debug:
    enabled: false

  # disable all sgv2 exception mappers, handled differently
  exception-mappers:
    enabled: false

  # custom grpc settings
  grpc:

    # default client timeout 2x from max server side timeout
    # see https://docs.datastax.com/en/dse/6.8/dse-dev/datastax_enterprise/config/configCassandra_yaml.html#Networktimeoutsettings
    call-deadline: PT20S

    # retries use custom policy, see io.stargate.sgv2.jsonapi.grpc.retries.impl.JsonApiGrpcRetryPolicy
    retries:
      enabled: true
      max-attempts: 1
      policy: custom

  # metrics properties
  # see io.stargate.sgv2.api.common.config.MetricsConfig for all config properties and options
  metrics:
    global-tags:
      module: sgv2-jsonapi

  # custom properties for enabling vectorize method
  jsonapi:
    embedding:
      service:
        # Open AI embedding service configuration
        openai:
          enabled: true
          url: https://api.openai.com/v1/
          api-key: YOUR_API_KEY

        # Hugging face embedding service configuration
        huggingface:
          enabled: true
          url: https://api-inference.huggingface.co/pipeline/feature-extraction/
          api-key: YOUR_API_KEY

        # Vertex AI embedding service configuration
        vertexai:
          enabled: true
          url: https://us-central1-aiplatform.googleapis.com
          api-key: YOUR_API_KEY

quarkus:

  # general app properties
  application:
    name: Stargate JSON API

  # banner for the startup
  banner:
    path: banner/banner.txt

  # HTTP settings
  http:

    # every /v1 path is authenticated by default
    # adapt if changing the authentication mechanism
    auth:
      proactive: false
      permission:
        default:
          paths: /v1/*
          policy: authenticated

    limits:
      # Let's limit low-level maximum HTTP request size to 20 megs: stricter
      # limit (4 meg per document) is applied at the JSON API level.
      # Low-level limits may result in EPIPE/413 errors
      # whereas at higher level we can use regular JSON API error responses
      max-body-size: 20M

    port: 8181

  # built-in micrometer properties
  micrometer:
    binder:
      http-server:
        # ignore all non-application uris, as well as the custom set
        suppress-non-application-uris: true
        ignore-patterns: /,/metrics,/swagger-ui.*,.*\.html

        # due to the https://github.com/quarkusio/quarkus/issues/24938
        # we need to define uri templating on our own for now
        # note that order is important
        match-patterns: |
          /v1/[^/]+=/v1/{namespace},
          /v1/.+/.+=/v1/{namespace}/{collection}

  # adapt path of the open api definitions
  smallrye-openapi:
    path: /api/json/openapi
  native:
    # Adding com.datastax.oss.driver.internal.core.metadata.MetadataManager to the list of classes that are initialized
    # at run time while building the native image. This is for the issue https://github.com/stargate/jsonapi/issues/597
    additional-build-args: --initialize-at-run-time=com.datastax.oss.driver.internal.core.metadata.MetadataManager

"%dev":
   quarkus:
     log:
       console:
         json: false