---
# please keep properties in the alphabetical order

stargate:

  # metrics properties
  # see io.stargate.sgv2.api.common.config.MetricsConfig for all config properties and options
  metrics:
    global-tags:
      module: sgv2-jsonapi

  # disable all sgv2 exception mappers, handled differently
  exception-mappers:
    enabled: false

quarkus:

  # general app properties
  application:
    name: Stargate Documents API

  # banner for the startup
  banner:
    path: banner/banner.txt

  # HTTP settings
  http:

    # every /v1 path is authenticated by default
    # adapt if changing the authentication mechanism
    auth:
      proactive: false
      permission:
        default:
          paths: /v1/*
          policy: authenticated

    limits:
      # Let's lower maximum HTTP request size from 10 megs to 1
      max-body-size: 1000000

  # built-in micrometer properties
  micrometer:
    binder:
      http-server:
        # ignore all non-application uris, as well as the custom set
        suppress-non-application-uris: true
        ignore-patterns: /,/metrics,/swagger-ui.*,.*\.html

        # due to the https://github.com/quarkusio/quarkus/issues/24938
        # we need to define uri templating on our own for now
        # note that order is important
        match-patterns: |
          /v1/[^/]+=/v1/{namespace},
          /v1/.+/.+=/v1/{namespace}/{collection}

  # adapt path of the open api definitions
  smallrye-openapi:
    path: /api/docs/openapi
