data-api:
  reranking:
    providers:
      nvidia:
        is-default: true
        display-name: Nvidia
        enabled: true
        supported-authentications:
          NONE:
            enabled: true
        models:
          - name: nvidia/llama-3.2-nv-rerankqa-1b-v2
            is-default: true
            url: https://us-west-2.api-dev.ai.datastax.com/nvidia/v1/ranking
            properties:
              max-batch-size: 10
          - name: nvidia/a-random-deprecated-model
            api-model-support:
              status: DEPRECATED
              message: This model has been deprecated, it will be removed in a future release. It is not supported for new Collections or Tables.
            url: https://us-west-2.api-dev.ai.datastax.com/nvidia/v1/ranking
            properties:
              max-batch-size: 10
          - name: nvidia/a-random-EOL-model
            api-model-support:
              status: END_OF_LIFE
              message: This model is at END_OF_LIFE status, it is not supported.
            url: https://us-west-2.api-dev.ai.datastax.com/nvidia/v1/ranking
            properties:
              max-batch-size: 10