# Default values for stargate.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# API instance replica count
replicaCount: 1

# Coordinator or bridge registry and image
image:
  registry: "gcr.io"
  repository: "stargateio/jsonapi"
  tag: "v1"

# topology key for anti affinity
topologyKey: "kubernetes.io/hostname"

# Stargate gRPC bridge hostname and kubernetes namespace
sgGrpcBridge:
  serviceName: "stargate-bridge"
  namespace: "default"

# Document service image - don't change it. CPU and memory are both request
cpu: 2000
memory: 2048
probe:
  readiness:
    url: /stargate/health/ready
    port: 8080
    timeoutSeconds: 10
    periodSeconds: 10
    failureThreshold: 30
    initialDelaySeconds: 30
  liveness:
    url: /stargate/health/live
    port: 8080
    timeoutSeconds: 10
    periodSeconds: 10
    failureThreshold: 5
    initialDelaySeconds: 30

# HorizontalPodAutoscaler for coordinator and all services. This needs metrics server installed (kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml) in the cluster. 
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

# Ingress is not added to deployment by default. This needs to have ingress controller installed. Default configuration uses nginx controller. (Controller installed using 
# helm upgrade --install ingress-nginx ingress-nginx \           
#   --repo https://kubernetes.github.io/ingress-nginx \
#   --namespace ingress-nginx --create-namespace

ingress:
  enabled: true
  ingressClassName: nginx
 
