version: '2'

services:
  dse-1:
    image: stargateio/dse-next:${DSETAG}
    networks:
      - stargate
    mem_limit: 2G
    environment:
      - MAX_HEAP_SIZE=1536M
      - CLUSTER_NAME=dse-${DSETAG}-cluster
      - DC=datacenter1
      - RACK=rack1
      - DS_LICENSE=accept
    healthcheck:
      test: [ "CMD", "cqlsh", "-u cassandra", "-p cassandra" ,"-e describe keyspaces" ]
      interval: 15s
      timeout: 10s
      retries: 10

  dse-2:
    image: stargateio/dse-next:${DSETAG}
    networks:
      - stargate
    mem_limit: 2G
    depends_on:
      dse-1:
        condition: service_healthy
    environment:
      - MAX_HEAP_SIZE=1536M
      - SEEDS=dse-1
      - CLUSTER_NAME=dse-${DSETAG}-cluster
      - DC=datacenter1
      - RACK=rack1
      - DS_LICENSE=accept
    healthcheck:
      test: [ "CMD", "cqlsh", "-u cassandra", "-p cassandra" ,"-e describe keyspaces" ]
      interval: 15s
      timeout: 10s
      retries: 10

  dse-3:
    image: stargateio/dse-next:${DSETAG}
    networks:
      - stargate
    mem_limit: 2G
    depends_on:
      dse-2:
        condition: service_healthy
    environment:
      - MAX_HEAP_SIZE=1536M
      - SEEDS=dse-1
      - CLUSTER_NAME=dse-${DSETAG}-cluster
      - DC=datacenter1
      - DS_LICENSE=accept
    healthcheck:
      test: [ "CMD", "cqlsh", "-u cassandra", "-p cassandra" ,"-e describe keyspaces" ]
      interval: 15s
      timeout: 10s
      retries: 10

  coordinator:
    image: stargateio/coordinator-dse-next:${SGTAG}
    depends_on:
      dse-1:
        condition: service_healthy
    networks:
      - stargate
    ports:
      - "9042:9042"
      - "8081:8081"
    mem_limit: 2G
    environment:
      - JAVA_OPTS="-Xmx1536M"
      - CLUSTER_NAME=dse-${DSETAG}-cluster
      - SEED=dse-1
      - RACK_NAME=rack1
      - DATACENTER_NAME=datacenter1
      - ENABLE_AUTH=true
    healthcheck:
      test: curl -f http://localhost:8084/checker/readiness || exit 1
      interval: 15s
      timeout: 10s
      retries: 10

  jsonapi:
    image: ${JSONIMAGE}:${JSONTAG}
    depends_on:
      coordinator:
        condition: service_healthy
    networks:
      - stargate
    ports:
      - "8181:8181"
    mem_limit: 2G
    environment:
      - JAVA_MAX_MEM_RATIO=75
      - JAVA_INITIAL_MEM_RATIO=50
      - GC_CONTAINER_OPTIONS=-XX:+UseG1GC
      - QUARKUS_GRPC_CLIENTS_BRIDGE_HOST=coordinator
      - QUARKUS_GRPC_CLIENTS_BRIDGE_PORT=8091
      - QUARKUS_HTTP_ACCESS_LOG_ENABLED=${REQUESTLOG}
      - QUARKUS_LOG_LEVEL=${LOGLEVEL}
    healthcheck:
      test: curl -f http://localhost:8181/stargate/health || exit 1
      interval: 5s
      timeout: 10s
      retries: 10

networks:
  stargate:
