# @author Jeff Carpenter
name: Run Performance Tests

# runs on
# * manual trigger
on:
  workflow_dispatch:
    inputs:
      docscount:
        description: 'Number of documents to use for each test'
        required: true
        type: string
        default: '1000000'
      connections:
        description: 'Number of HTTP connections to use for each test'
        required: true
        type: string
        default: '20'

# global env vars, available in all jobs and steps
env:
  MAVEN_OPTS: '-Xmx4g'

jobs:
  # runs performance tests
  performance-tests:
    name: Performance tests
    runs-on: ubuntu-latest

    strategy:

      # run all tests to completion
      fail-fast: false

      # matrix props:
      matrix:
        type: [ java, native ]

        test: [ http-jsonapi-crud-basic, http-jsonapi-keyvalue ]

        include:
          - type: java
            build-ops: '-Dquarkus.container-image.build=true'
            docker-flags: ''
            docker-image: 'jsonapi'

          - type: native
            build-ops: '-Pnative -Dquarkus.native.container-build=true -Dquarkus.container-image.build=true'
            docker-flags: '-n'
            docker-image: 'jsonapi-native'

    steps:
      # force checkout of main branch so we get a SHA that will have a corresponding docker image tag in ECR
      - uses: actions/checkout@v3
        with:
          ref: main

      # login to ECR to we can pull coord image from there
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.ECR_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.ECR_SECRET_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      # Use docker-compose to start required stack
      # Print version of images used for verification
      # Get latest commit from main branch
      - name: Start Docker Compose
        run: |
          JSONTAG=$(git show -s --format="%H")
          docker pull ${{ secrets.ECR_REGISTRY }}/stargateio/${{ matrix.docker-image }}:$JSONTAG
          docker image tag ${{ secrets.ECR_REGISTRY }}/stargateio/${{ matrix.docker-image }}:$JSONTAG stargateio/${{ matrix.docker-image }}:$JSONTAG
          cd docker-compose
          ./start_dse_68_dev_mode.sh ${{ matrix.docker-flags }} -j $JSONTAG
          docker-compose images

      # Install NB and required library
      # See: https://github.com/AppImage/AppImageKit/wiki/FUSE
      # Print version to affirm correct install
      - name: Download NoSQLBench
        run: |
          sudo add-apt-repository universe
          sudo apt install libfuse2
          curl -L -O https://github.com/nosqlbench/nosqlbench/releases/latest/download/nb5
          chmod +x nb5
          ./nb5 --version

      # Run test after first obtaining an auth token
      - name: Run NoSQLBench Test
        run: |
          cd nosqlbench
          export AUTH_TOKEN=$(curl -s -X POST 'http://localhost:8081/v1/auth' -H 'Content-Type: application/json' --data-raw '{"username": "cassandra", "password": "cassandra"}' | jq -r '.authToken')
          ../nb5 -v --report-csv-to logs --log-histograms logs/hdr_metrics.log ${{ matrix.test }} jsonapi_host=localhost auth_token=$AUTH_TOKEN docscount=${{ inputs.docscount }} connections=${{ inputs.connections }}

      - name: Save Results
        uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: ${{ matrix.test }}-${{ matrix.type }}
          path: nosqlbench/logs

